<div ng-controller="homeCtrl">
	<div class="panel panel-success">
    <div class="panel-heading">
      <h4>Software and Knowledge Courses
			<span class="pull-right" style="margin-top: -0.5%;"> Search: <input ng-model="searchText"></span>
			</h4>
		</div>
		<div class="panel-body">
			<div class="hover">
			<table class="table table-striped">
				<tbody>
					<tr class="list" ng-repeat="c in courses | filter:searchText" ui-sref="course({courseId : c.id})">
						<td>{{c.id}}</td>
						<td>{{c.name.th}} ({{c.name.en}})</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
