<div ng-controller="profileCtrl">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4>
        Student Profile
      </h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
				<tbody>
					<tr>
						<td><b>Student ID No: </b></td>
						<td>{{studentIdRoot}}</td>
            <td></td>
              <td></td>
					</tr>
          <tr>
            <td><b>First Name: </b></td>
            <td>John</td>
            <td><b>Last Name: </b></td>
            <td>Doe</td>
          </tr>
          <tr>
            <td><b>Degree level: </b></td>
            <td>Bachelor</td>
            <td><b>Campus:</b></td>
            <td>Bangkhen</td>
          </tr>
          <tr>
            <td><b>Faculty: </b></td>
            <td>Engineering</td>
            <td><b>Department:</b></td>
            <td>Software & Knowledge Engineering (E17) </td>
          </tr>
          <tr>
            <td><b>Year: </b></td>
            <td>3 (E17-3)</td>
            <td><b>Status: </b></td>
            <td>Currently studying</td>
          </tr>
				</tbody>
			</table>
    </div>
  </div>
  <hr>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4>
        Registration Report
      </h4>
    </div>
    <div class="panel-body">
      <div class="row" ng-repeat="en in profile.enrolls">
        <div class="col-md-offset-1 col-md-10">
          <h4>{{en.semester}} Semester {{en.year}}</h4>
          <div class="hover">
          <table class="table table-striped" ng-if="en.courses.length > 0">
            <thead>
              <tr>
                <th>No.</th>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Lecture Section</th>
                <th>Lab Section</th>
                <th>Type</th>
                <th>Credit</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in en.courses">
                <td>{{en.courses.indexOf(c)+1}}</td>
                <td>{{c.courseId}}</td>
                <td>{{c.name}}</td>
                <td align="center">{{c.section.lecture || 0}}</td>
                <td align="center">{{c.section.lab || 0}}</td>
                <td align="center">{{c.rType}}</td>
                <td align="center">{{c.credit}}</td>
                <td><button class="btn btn-danger btn-sm" ng-click="drop(c)">Drop</button></td>
              </tr>
            </tbody>
          </table>
        </div>
          <h3 ng-if="en.courses.length === 0" align="center">
            <hr>
            No enrolled course in this semester
          </h3>
        </div>
      </div>
      <hr>
    </div>
  </div>

</div>
